:root {
    --black: #111111;
    --gray: rgba(255, 255, 255, .7);
    --primary: #34CCD9;
    --white: #ffffff;
  }

body {
    font-family: 'Noto Sans', sans-serif!important;
    background: var(--black);
}

h1, h2, h3, h4, h5 {
    font-family: 'Noto Sans Display', sans-serif!important;
}



.button {
    border: 2px solid var(--primary);
    color: var(--primary)!important;
    font-weight: 600;
    border-radius: 5px;
    padding-left: 32px!important;
    padding-right: 32px!important;
    transition: ease-in-out 0.2s;
}

.navbar .button {
    margin-left: 16px;

}

.button:hover {
    background: var(--primary);
    color: var(--black)!important;
    text-decoration: underline;
}

.navbar-expand-lg .navbar-nav .nav-link  {
    padding-top: .4rem;
    padding-left: .4rem;
    padding-right: 16px;
    padding-left: 16px;
}


h1 {
    font-size: 77px;
    line-height: 1.2;
}

h2 {
    font-size: 77px;
}

h3 {
    font-size: 54px;
    line-height: 1;
}

h4 {
    font-size: 37px;
}

h5 {
    font-size: 26px;
}

h6 {
    font-size: 18px;
}

.home-text {
    font-size: 18px;
}

p {
    font-size: 14px;
    font-weight: 400;
}

.small {
    font-size: 10px;
}

.top-sm {
    padding-top: 16px!important;
}

.top-md {
    padding-top: 24px;
}

.top-lg {
    padding-top: 64px;
}

.top-xl {
    padding-top: 128px;
}

.top-xxl {
    padding-top: 200px;
}

.bottom-xxl {
    padding-bottom: 200px;
}

.bottom-xl {
    padding-bottom: 128px;
}

.bottom-lg {
    padding-bottom: 64px;
}

.bold {
    font-weight: 800;
}

.semibold {
    font-weight: 600;
}

.white {
    color: white;
}

.gray {
    color: var(--gray);
}

.black {
    color: var(--black);
}

.primary {
    color: var(--primary);
}

.bg-gray {
    background-color: var(--gray);
}

.bg-black {
    background-color: var(--black);
}

.bg-primary {
    background-color: var(--primary)!important;
}

.hero-subtitle {
    padding-top: 40px;
    font-family: 'Noto Sans', sans-serif!important;
    font-weight: 300;

}

.hero {
    height: 100vh;
    padding-top: 32px;
}


.hero-bg {
    background-image: url(/img/bg_hero.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.navbar {
    height: 75px;
}

header {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--black);
    z-index: 99999!important;

}

.nav-link {
    color: var(--gray);
    font-size: 15px;
    transition: ease-in-out 0.2s;
}

.nav-link:hover {
    color: white;
}

.about-numbers .row {
    padding-top: 40px;
    padding-bottom: 40px;
}

.border-bottom-black {
    border-bottom: 1px solid var(--black);
}

.icon-link {
    opacity: .6;
}

.icon-link:hover {
    opacity: 1;
}

h3.title {
    max-width: 50%;
}



p {
    color: var(--gray);
    font-weight: 300;
}

.about-numbers p {
    color: var(--black);
    font-size: 15px;
}

.p-container {
    float: right;
}

.navbar {
    padding: .5rem 0;
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--primary);
}

.service-title {
    padding-left: 16px;
}

#about-us {
    background-image: url(/img/bg_section.png);
    background-position: top right;
    background-repeat: no-repeat;
}

/*

#services {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url(/img/bg_upperhalf.png);
    background-attachment: local;
    background-size: 70%;
}

*/

#services .img-wrapper {
    position: sticky;
    bottom: 0px;
    z-index: 9;
    text-align: center;
 
}

#services .img-wrapper img {
max-width: 100%; 
}

#services .col-md-6, #services h3 {
    z-index: 9999!important;
}

.column-services {
    padding-top: calc(128px + 56px);
}

#services h3 {
    padding-bottom: 168px;
}





/* CARD */

.card {
    border: 2px solid var(--black);
    background: var(--black);
    padding: 40px 24px 40px;
    color: white;
}

.card, .card p {
    transition: ease-in-out .2s;
}

.card p {
    color: var(--gray);
}


.card-body {
    padding: 0;
}

.card p, .card-title {
    margin-bottom: 0px;
}

.case-study a {
    color: inherit;
}

a.card-link {
    font-size: 15px;
    color: var(--primary);
}

.card:hover {
    background: var(--primary);
    color: var(--black);
    border: 2px solid var(--primary);

}

.card:hover .card-link {
    color: var(--black);
    text-decoration: underline;
}

.card:hover p {
    color: var(--black);
}


.case-study:hover a {
    text-decoration: none;
}

a.button {
    padding-top: 16px!important;
    padding-bottom: 16px!important;

}

a.button-nav {
    padding-top: .4rem!important;
    padding-bottom: .4rem!important;
}

#services h3 {
    position: sticky;
    position: -webkit-sticky;
    top: 200px;
}

/* OUR WORK */


.white-bg {
    background: var(--white);
}

.white-bg .home-text {
    color: var(--black);
    opacity: .7;
}

.white-bg .button {
    background: var(--primary);
    color: var(--black)!important;
}

.white-bg .button:hover {
    background: transparent;
    color: var(--primary)!important;
}


/* FOOTER */

footer {font-size: 14px;}

footer ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
}

.social-list {
    display: inline-block;
    margin-bottom: 0px;
}

.social-list li {
    float: left;
    padding-right: 8px;
}

.social-list a {
    opacity: .7;
    transition: ease-in-out .2s;

}

.social-list a:hover {
    opacity: 1;
}

.footer-menu-list a {
    color: var(--gray)
}

.footer-menu-list a:hover {
    color: var(--white);
}

.footer-menu-list li {
    padding-top: 8px;
}

.footer-logo {
    width: 126px;
    height: 30px;
}

footer .col-md-3:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



@media (min-width:1700px) {

    .hero {
        height: calc(100vh - 226px);
        padding-top: 32px;
    }

    #services {
        max-height: 1800px;
    }

}




